body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: blue;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

nav ul li a:hover {
    background: #242424;
}
.container {
    margin: 20px;
    text-align: center;
}
.caixa {
    margin-top: 10px;
}
.exercicio6-10{
    text-align: center;
    flex: 1;
    background-color: #9C9C9C;
}
.calcular3{
    margin-top: 20px;
}
.renzo{
    margin-top: 20px;
}
.botaopeso{
    margin-top: 10px;

}
input{
    width: 70px;
}
.calareaq{
    margin-top: 10px;
}

